html { 
  background: rgb(18 18 18); 
  color: rgb(170 170 170); 
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
}

p {
  max-width: 50%;
  word-wrap: break-word;
}

h1,h2,h3 {
  color: rgb(230 230 230);
  user-select: none;
}

.clickable {
  color: rgb(255, 0, 131);
  cursor: pointer;
}

#preview-original,
#preview-pixelated,
#preview-map {
  max-height: 200px;
}

hr {
  border: 1px solid #21262d;
}

